<!-- <div class="jumbotron">
  <div class="container">
  	<div class="row-one">
  		<div class="col-md-6 col-md-offset-3">
		   <h1>coop</h1>
		   <p>connect with urban coops in your area. <strong>get fresh, local eggs.</strong></p>
		   <p><a class="btn btn-default btn-lg" href="#/map" role="button">sign me up</a></p>
		</div>
   </div>
</div>
</div>

	<div class="container">
		<div class="row-two">
			<div class="col-md-5 col-md-offset-1">
				<h2 class="section-two">Users</h2>
				<p>sign up and search for local coops based on address, connect with keepers + chickens + eggs.</p>
			</div>
			<div class="col-md-5 col-md-offset-1">
				<h2 class="section-two">Keepers</h2>
				<p>list your coop, share your eggs + connect with users + community</p>
			</div>

		</div>
	</div>

 -->

<div class="main">
  <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand"><a href="/#/map">coop</a></h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="#">home</a></li>
                  <li><a href="#">sign in</a></li>
                  <li class="active"><a href="#">list your coop</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Find A Coop</h1><br>
            <p class="lead">connect with urban coops in your area, <strong>get fresh, local eggs</strong></p>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-default">sign me up</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>
</div>


