<div class="signup">
	<div class="signupForm">

	<h1 class="getEggs">fresh eggs are waiting</h1>
	     
	  <form ng-submit="addUser(newUser)" method="post">
	      	<div class="form-group">
	      		<label class="sr-only" for="signup.name">Full Name</label>
			      <input type="name" class="form-control" name="name" placeholder="name" ng-model="newUser.name">
	      	</div>
	      	<div class="form-group">
	  		    <label class="sr-only" for="signup.email">Email address</label>
	  		    <input type="email" class="form-control" name="email" placeholder="email" ng-model="newUser.email">
			  </div>
			  <div class="form-group">
			    <label class="sr-only" for="signup.password">Password</label>
			    <input type="password" class="form-control" name="password" placeholder="password" ng-model="newUser.password">
			  </div>
			   
	      <button type="submit" class="btn btn-default btn-lg btn-block">sign up</button>

	  </form>
	</div>
</div>